body {
    overscroll-behavior: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--color);
    vertical-align: middle;
    user-select: none;
    text-align: center;
    font-family: Sans-Serif;
    padding: 10px;
    margin: 0;
    letter-spacing: 1.2px;
    font-size: 12px;
    --main: #222;
    --main-dim: #555;
}

.ledSelector {
    width: 100vw;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background: var(--main);
    color:white;
}

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    padding: 10px;
    /* Specific width is required for Firefox. */
    background: transparent;
    margin-bottom: 10px;
    height: 32px;
    /* Otherwise white in Chrome */
}
input:focus, textarea {
    outline: none !important;
}
input[type=number]{
    padding:3px;
    width:70px;
    color:white;
    background:transparent;
    border:2px solid var(--main-dim);
    transition:0.2s;
}
input[type=number]:focus{
    border:2px solid var(--color);
}
input[type=number]:focus::-webkit-inner-spin-button, 
input[type=number]:focus::-webkit-outer-spin-button,
input[type=number]:hover::-webkit-inner-spin-button, 
input[type=number]:hover::-webkit-outer-spin-button { 
  opacity:0.2;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity:0;
  transition:0.2s;
}

input[type=range].inline {
    width: auto;
    margin-bottom: -20px;
    height: 10px;
    padding: 0px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 8px;
    border-radius: 5px;
    background:  var(--color);
    cursor: pointer;
    margin-top: -8px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* Add cool effects to your sliders! */
}

input[type=range].inline::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    margin-top: 2px;
    box-shadow: none;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    height: 8px;
    width: 32px;
    margin-top: -2px;
    border-radius: 3px;
    background: var(--color);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    outline:1px solid rgba(255,255,255,0.05);
    background: var(--color);
    border-radius: 8.4px;
}

input[type=range]#hue::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

input[type=range]#sat::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--desat) 0%, var(--hue) 100%);
}

input[type=range]#val::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #000000 0%, var(--color) 100%);
}

input[type=range]#dim::-webkit-slider-runnable-track {}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 16.8px;
    cursor: pointer;
    background: var(--color);
    border-radius: 1.3px;
}

#audioController{
    width:100%;
}

#spectrum input[type=range].inline{
    box-shadow:none;
    outline:none;
    margin-left:0px;
    width:100%;
    height:100px;
    margin-bottom:-100px;
    z-index:20;
    position:relative;
}
#spectrum input[type=range].inline::-webkit-slider-thumb {
    width: calc( 100% / 32 );
    height: 100%;
    background: rgba(255,255,255,0.3);
    margin-top:0px;
    margin-left:0px;
    box-shadow: none;
    border-radius: 0;
}

#spectrum input[type=range].inline::-webkit-slider-runnable-track {
    outline:none;
    background:transparent;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#spectrum canvas{
    display:block;
    height:100px;
    width:100%;
    pointer-events: none;
}
#spectrum {
    width:100%;
    margin-left:0px;
}

#audioController{
    display:block;
}

/* Checkbox */

.buttonContainer {
    text-align:left;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    margin-bottom:15px;
    border-top: 1px solid var(--main-dim);
}

.buttonContainer .header {
    margin-bottom:10px;
}

.container {
    position: relative;
    margin-right:60px;
    top: -5;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonContainer .options{
    width:100%;
    margin-top:-5px;
    margin-left:60px;
    text-align:right;
}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 46px;
    background: transparent;
    border: 2px solid var(--main-dim);
    border-radius:11px;
    transition:0.2s;

}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    border-color: var(--color);
}
.container:hover .checkmark:after{
    background-color: var(--color);
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    border-color: var(--color);
    background-color: var(--color);

}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius:100%;
    background:var(--main-dim);
    transition:0.2s;
}

/* Style the checkmark/indicator */

.container input:checked~.checkmark:after {
    left: 29px!important;
    background:white;
}