<html>

<head>
    <meta name="viewport" content="
         height = device-height,
         width = device-width,
         initial-scale = 1.0,
         minimum-scale = 1.0,
         maximum-scale = 1.0,
         user-scalable = no" />
    <script src="./socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var socket = io('/', { path: '/socket.io' });
    </script>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
    <main>
        <div class="ledSelector">
            <div id="colorController">
                Hue<br>
                <input id="hue" type="range" min="0" max="1" step="0.005" v-model="hue">
                Saturation<br>
                <input id="sat" type="range" min="0" max="1" step="0.005" v-model="sat">
                Brightness<br>
                <input id="val" type="range" min="0" max="1" step="0.005" v-model="val">
            </div>
            <div id="dimController">
                <label>Dim
                    <input id="dim" type="range" min="0" max="1" value="1" step="0.005" v-model="dim">
                </label>
            </div>
            <div class="buttonContainer">
                <span class="label">Rainbow</span>
                <div id="rainbowController">
                    <label class="container">
                        <input id="rainbow" type="checkbox" v-model="state">
                        <span class="checkmark"></span>
                    </label>
                    <!-- ms <input type="number" min="0" step="0.001" v-model.lazy="ms"> -->
                    step <input type="number" step="0.001" v-model.lazy="step">
                </div>
            </div>
            <div class="buttonContainer">
                <span class="label">Pulse</span>
                <div id="pulseController">
                    <label class="container">
                        <input id="pulse" type="checkbox" v-model="state">
                        <span class="checkmark"></span>
                    </label>
                    <!-- ms <input type="number" step="0.001" min="0" v-model.lazy="ms"> -->
                    step <input type="number" step="0.001" v-model.lazy="step">
                    min <input type="number" step="0.001" min="0" max="1" v-model.lazy="minValue">

                </div>
            </div>
        </div>
    </main>
    <script src="client.js"></script>
</body>

</html>